body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1 {
    text-align: center;
}
form {
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li span {
    flex-grow: 1;
}
.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}







body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    flex: 1;
}

.footer {
    background: #111;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #e91e63;
}

.footer p {
    margin: 10px 0 0;
    font-size: 14px;
    color: #bbb;
}